.App {
  text-align: center;
}

header {
  background-color: #1C1C1C;
  color: #F5F1EC;
  padding: 10px;
}

h2 {
  margin-top: 30px;
}

footer {
  font-size: 12px;
  margin: 20px auto 10px auto;
  padding-top: 20px;
  border-top: solid 1px #1C1C1C; 
  max-width: 600px;
}