.InputKeyword {
    font-size: 16px;
    color: #1C1C1C;
    padding: 10px;
    border: 1px solid #D6CEC4;
    border-radius: 5px;
    width: 50%;
    outline: none;
    transition: border 0.2 ease, box-shadow 0.2s ease;
}

.InputKeyword:focus {
    border-color: #B8A89A;
    box-shadow: 0 0 0 2px rgba(184, 168, 154, 0.4);
}

.InputButton {
    background-color: #B8A89A;
    color: #1C1C1C;
    padding: 10px;
    margin-left: 5px;
    font-size: 16px;
    border-color: #B8A89A;
    border-radius: 5px;

}

.InputButton:hover {
    background-color: #8C7258;
    border-color: #8C7258;
    color: white;
    cursor: pointer;
}

.hint {
    font-size: 12px;
    margin-top: 5px;
}